nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    z-index: 999;
    margin-left: 15.9rem;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    right: 1px;
    background-color: rgb(198, 9, 9);
    padding: 15px; 
    border-radius: 5px 5px 5px 5px;
    box-sizing: content-box; 
  }
  
  .search-input {
    padding: 20px 15px; 
    border: none;
    background: #f7f6f6;
    outline: none;
    border-radius: 5px;
    width: 25rem;
    position: relative;
  }
  .nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.5rem;
  }
  